/* 1. Le Backdrop (la zone sombre) */
#modalManSampaio {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    visibility: hidden;
}

#modalManSampaio.show { visibility: visible; }

/* 2. Le conteneur blanc du Modal */
#modalManSampaio2 {
    background-color: #111827; /* Ton fond foncé de site */
    
    padding: 20px;
    padding: 0% 0%;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 8px;
}
#modalManSampaio3 {
    right: 0;
    left: 0;
    display: grid;
    grid-template-rows: 1fr;
    gap: 0;
    grid-template-columns: 1fr auto;
    background-color: rgb(39 39 42); /* zinc-800 */
}
#modalManSampaio3  div {
    text-align: center;
    color: white;
    font-weight: 700;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#modalManSampaio3  div {
justify-self: end;
background-color: rgb(39 39 42); /* zinc-800 */
color: #ffffff;
font-weight: 700;
padding-left: 0.75rem;
padding-right: 0.75rem;
transition: border-radius 0.2s, background-color 0.2s; /* optionnel mais recommandé */
}

#modalManSampaio3  div:hover {
  border-radius: 0.75rem;
  background-color: rgb(220 38 38); /* red-600 */
}

/* 3. Pour tes images et cartes */
.project-card,.progperso {
    border: 1px solid #00ff00;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden; /* Empêche ce qui est dedans de sortir */
}



/* CORPS du modal : limite la taille + scroll */
.modalBody {  /* Ou l'ID de ton body de modal */
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    
    width: auto;
    height: auto;
    overflow: auto;         /* Scroll si trop grand */
    
}

/* Tabs spécifiques si besoin */
.tab-pane, .doc-content {
    max-height: 60vh;
    min-width: 50%;
    overflow-y: auto;
}

.modal-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #111827;
    width: 100%;
}

.modal-body {
    color: white;
    background-color: #111827;
    padding: 16px;             
    flex: 1 ;
}

#modalPrimMenu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 4px;
    background-color: #27272a;
    border-radius: 15px;
    text-decoration: underline;
}

/* Onglet Primaire */
.tabPrimBtn {
    text-align: center;
    cursor: pointer;
    padding: 8px;
    text-align: center;
}
.tabPrimBtn:hover {
    background-color: #166534;
    color: #ffffff;
    border-radius: 15px;
}
.tabPrimBtn.active {
    text-decoration: underline;
    
}
.tab-content {
    color: #ffffff;
    background-color: #1f2937;

}
.tab-pane {
    display: none;
}
.doc-content {
    display: none;
}

/* projet*/
#projet-lst, #projet-lst-perso {
    display: flex;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-items: center;
    justify-content: center;
}


.prog, .progperso {
    background: #27272a; 
    border: 2px solid #22c55e; 
    border-radius: 4px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    max-height: 30%;
    width: 40%;
}

.prog:hover, .progperso:hover {
    box-shadow: 0 0 10px rgba(34, 197, 94, 0.2);
    
}

.prog img, .progperso img {
    border: 1px solid #374151;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 100%;
    height: 300px; 
    object-fit: cover;
    display: block;
}

#tab-projet-pers {
    display: none;
}

.prog h3 {
    color: #22c55e;
    font-size: 1.2rem;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #22c55e;
}

.prog p {
    color: #e5e7eb;
    font-size: 0.9rem;
    line-height: 1.4;
}

.prog a, .voir-plus-btn  {
    background-color:  #1f2937;
    border: 2px solid #22c55e; 
    border-radius: 30px;
    margin: 5%;
    padding: 3%;
    align-self: center;
    text-align: center;
}

.prog > a:hover, .voir-plus-btn:hover {
    background-color:  #1f2937;
    border: 2px solid #22c55e; 
    border-radius: 30px;
    margin: 5%;
    padding: 3%;
    box-shadow: 0 0 20px rgba(34, 197, 94, 0.2);
}
.details-body a{
    padding: 1%;
}

.details-modal {
    display: none !important;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
}

.details-modal.show {
    position: fixed;
    inset: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.9);
}
.details-body img{
    max-width: 30%;
    display: block;
    margin: 0%;
}
.allerplusloin {
    display: flex;
}

.details-content {
    background-color:  #27272a;
    width: 70%;
    box-sizing: border-box;
    margin: 0%;
    border-radius: 5px;
    border-color: #27272a;
    border: 4px solid #27272a
};
.details-content span {
    left: 0%;
}

.details-header, .modalManSampaio3 {
    background-color: #27272a; 
    display: flex;
    justify-content: space-between; /* titre à gauche, croix à droite */
    align-items: center;            /* même ligne verticale */
    height: 2em;
}
.details-body {
    background-color: #1f2937; 
}
.details-body h5 {
    text-decoration: double underline;
    text-indent: 2em;
}

.details-body p {
    text-align: justify;
}

.details-body img {
    max-height: 90%;
}
.details-content span.close-details {
    justify-self: self-end;
    color: white;
}
.details-content span.close-details:hover {
    background-color: #ff0000;
    border-radius: 12px;
    cursor: pointer;
}

.competence strong {
    border-color: #22c55e;
    border-width: 1px;
    border-radius: 10px;
    padding: 0.2rem;
}

.details-body {
    padding: 1%;
}
.lst-perso-requirement {

}







/*documentation*/
#tab-documentation {
    margin: 0% 3% 0% 3%;
        max-height: 50%;
    overflow-y: auto;
}
#tab-documentation p:first-child {
    text-decoration: underline;
}
#tab-documentation > div:first-of-type {
    display: flex;
    gap: 4px;
    margin-top: 8px;
}
#tab-documentation  h3 {
    color: #22c55e;
    font-weight: 700;
    margin-bottom: 1rem;
}
#tab-documentation  h4 {
    color: #22c55e;
    font-weight: 700;
    margin-bottom: 1rem;
}


/*onglet*/
.tabSecbtn {
    cursor: pointer;
    padding: 2px;
    border-radius: 35px;
    margin: 3%;
    padding-left: 5%
}
.tabSecbtn:hover {
    background-color: #27272a;
    text-decoration: underline #22c55e;
}
.tag {
    border: #374151;
    border-radius: 15px;
    border-width: 1px;
}
/*Document Page*/
.instructions {
    color: #a1a1aa;
    margin-bottom: 1rem;
}
.code {
    display: block;
    background-color: #000000;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #93c5fd;
}
.indice {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #71717a;
    margin-top: 0.25rem;
    font-style: italic;
}
.predata {
    background-color: #27272a;
    padding: 1rem;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #fdba74;
    font-size: 0.75rem;
    line-height: 1rem;
    overflow-x: auto;
}
.rappelbleu {
    background-color: #1e3a8a33; 
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #3b82f6;
    padding: 0.5rem;
}
.rappelbleu > p {
    color: #3b82f6;
    text-decoration: underline;
}
.rappelrouge {
    color: #f87171;
    text-decoration: underline;
    background-color: rgb(127 29 29 / 0.1);  /* bg-red-900/10 */
    border: 1px solid rgb(127 29 29 / 0.5);  /* border border-red-900/50 */
    padding: 0.75rem;                          /* p-3 */
    border-radius: 0.25rem;                   /* rounded */
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.12), /* shadow-sm */
                0 1px 2px rgb(0 0 0 / 0.08);
}.coderouge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.coderouge code {
    color: #f87171;
}

.coderouge span {
    font-size: 10px;
    color: rgb(113 113 122);
    font-style: italic;
}
.rappelvert, .lst-perso-requirement{
    background-color: #14532d33;  
    border-left: 4px solid #22c55e;           
    padding: 0.5rem;
}
.rappelvert > p, .lst-perso-requirement {
    color: #22c55e;
}



/*Contact */
#tab-contact {
    padding: 0% 3% 0% 3%;
    background-color: #111827;
    max-height: 50%;
    overflow-y: auto;
    display: none;
}
#tab-contact > h4 {
    color: white;
    text-decoration: underline;
}
#tab-contact > div:first-of-type {
display: grid;
    /* grid-cols-1 */
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* grid-rows-3 */
    grid-template-rows: repeat(3, minmax(0, 1fr));
    /* gap-4 */
    gap: 16px;
    /* mx-auto */
    margin-left: auto;
    margin-right: auto;
    /* px-4 */
    padding-left: 16px;
    padding-right: 16px;
    min-height: 200px;
}
#tab-contact > div:first-of-type > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 5%;
}
#tab-contact > div:first-of-type > div:first-of-type > div:first-of-type {
    border-radius: 50%;
    background-color: #1e293b;
    border: 4px solid #334155;
    font-size: 2.25rem;
    line-height: 2.5rem;
    height: 128px;
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    color: white;
}
#tab-contact > div:first-of-type > div:first-of-type > div:nth-child(2) {
    flex: 1
}
#tab-contact h4 {
    font-weight: 700;
    margin: 1%;
    color: #22c55e;
}
#tab-contact h2{
    color: white;
    font-size: larger;
    font-weight: 700;
}
#tab-contact pre {
    color: #3b82f6;
    font-style: italic;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin-top: 4px;
}
#tab-contact span {
    color: white;
}